*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    /* 1rem = 10px */
    font-size: 62.5%;
}

body{
    font-family:poppins, sans-serif;
    line-height:4.5 ;
    font-size: 1.6rem;

  background:#6e5a8e;
    color:#fff7fb;

 display: flex;
  flex-direction: column;
  height: 100vh;
  
}

main{
    width: 80%;
    margin: auto;
    padding-bottom: 2rem ;


    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn{
        background: #ffd166;
        color: #fff7fb;
        border: none;
        font-size: 1.6rem ;
        font-weight: bold;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
    }
    
header,
footer{
    background: #ef476f;
    color: #fff7fb;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
  
.div-log{
    margin-left: 2rem;
    font-size: 2.4rem;
    font-weight: bold;

}

.logo, .header-nav ul li a{
    text-decoration: none;
    font-size: 3rem;
    color: inherit;
    display: inline-block;
    padding: 2rem; 
}
.header-nav {
   
    margin-right: 2rem;

}
.header-nav ul{
    list-style: none;
    display: flex;
    justify-content: ;
    gap: 1rem;
    margin: 2rem;
}

footer nav ul li {
    padding: 1rem 0;
    
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */
//*                                                                                                     HOME                                           */
//* --------------------------------------------------------------------------------------------------------------------------------------------------- */
.titulo-home{
    margin: 3rem 0 ;
    font-weight: bold;
}

.titulo-productos{
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 3rem 0 ;
}

.parrafo{
    text-align: center;
    font-size: 1.8rem;
    width: 60%;

}
.contenedor-tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.card{
    background: #f4a261;
    color: #fff7fb;

    width: 40rem;
    padding-bottom: 2rem ;
    border-radius: 1rem;

    /* flexbox */
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.card img{
    width: 100%;
    
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------- */
//*                                                                       contacto                                         */
//* --------------------------------------------------------------------------------------------------------------------------------------------------- */
.titulo-contacto
{
    
    margin: 3rem 0 ;
}
.form-contacto {
   background-color: 8a79
   color: #2a1e35;
    width:100%;
    max-width: 50rem;
    font-size: 2rem;
    padding: 3rem;
    border-radius: 1rem;


    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

}
.grupo-input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}


@media (max-width: 768px) {
    header , footer{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    header .div-logo{
        margin: 0;
        padding: 1rem 0;
    }
    .header-nav ul{
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 0;
    }
    .contenedor-tarjetas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}